<!Doctype html> 
<html> 
<head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/style.css" /> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width:device-width, initial scale=1.0" />
    <meta property="og:title" content="DinhBao's (DB's) personal website" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Welcome to my website!. I am an undergraduate maths student at the university of Waterloo. You will find more information about my experiences and projects here. " />
    <meta property="og:description" content="Welcome to my website!. I am an undergraduate maths student at the university of Waterloo. You will find more information about my experiences and projects here." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>function Hamburger(x) {
        x.classList.toggle("change");
      } </script>
</head>
<body> 
    <div class="contactbar">
        <div id="github"><a href="https://github.com/Dinhbaon" target="_blank"><p>Github</p><img src="assets\images\github logo.png" alt="github logo"></a></div>
        <div id="linkedin"><a href="https://www.linkedin.com/in/nguyendinhbao/" target="_blank"><p>Linkedin</p><img src="assets\images\linkedin logo.png" alt="linkedin logo"></a></div>
        <div id="email"><a href="mailto:d26nguye@uwaterloo.ca" target="_blank"><p >Email</p><img style="filter: invert(92%) sepia(49%) saturate(2%) hue-rotate(9deg) brightness(105%) contrast(100%);"src="assets\images\email.png" alt="email logo"></a></div>
        
    </div>
    <div class="sidebar"> 
        <ul class="sidebarlist">
        <li style="list-style: none; color: white; padding:4vw 0; text-decoration: none;  ">Resume</li>
        <a href="blog.html"><li style="list-style: none; color: white; padding:4vw 0; text-decoration: none;  ">Blog</li></a>
        <!-- <a href="project.html"><li style="list-style: none; color: white; padding:4vw 0; text-decoration: none;  ">Projects</li></a> -->
        <a  href="index.html"><li style="list-style: none; color: white; padding:4vw 0; text-decoration: none;  ">Home</li></a>
        </ul>
    </div>
    <div class="myName" style="height:auto; min-height:100vw;"> 
        <div class="hamburger-icon" onclick= Hamburger(body)>
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <ul class="nav-bar">
            <li style="float:left"><div><a href="index.html">DB's Blog</a></div></li>
            <li><a>Resume</a></li>
            <li><a href="blog.html">Blog</a></li>
            <!-- <li><a href="project.html">Projects</a></li> -->
            <li><a href="index.html">Home</a></li>

        </ul>

    
        {% for post in site.posts %}
        {% if post.categories contains "project" %}

        {%else%}

        <div style="width: 50vw; margin: auto; margin: 5vw, 0px; ">
                <a style="text-decoration: none; color: black; " href="{{ post.url }}">

                    
                   <a style="text-decoration: none; color: black; font-size:2rem;   " href="{{post.url}} ">{{ post.title }}</a>
                   <br/>
                   <p style="font-size: 0.75em; color: beige"> {{ post.date | date_to_long_string }}</p>  
                   <div>{{ post.content | strip_html | truncatewords: 50 }}</div>
                   <p><a style="color:#268bd2" href="{{post.url}} ">Continue Reading {{post.title}}</p> 
                    
                    
                </div>


        {% endif %}
        {% endfor %}

    </div>


</body> 

</html>