<!Doctype html> 
<html> 
<head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/style.css" /> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width:device-width, initial scale=1.0" />
    <meta property="og:title" content="DinhBao's (DB's) personal website" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Welcome to my website!. I am an undergraduate maths student at the university of Waterloo. You will find more information about my experiences and projects here. " />
    <meta property="og:description" content="Welcome to my website!. I am an undergraduate maths student at the university of Waterloo. You will find more information about my experiences and projects here." />
</head>
<body> 
    <div class="myName"> 
        <ul class="nav-bar">
            <li style="float:left"><a href="index.html">DB's Blog</a></li>
            <li>Resume</li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="index.html">Home</a></li>

        </ul>
    <h1 style="margin-left: 20px;">{{page.title}}</h1>
    <div>{{content}}</div>
    <div class="blog-grid"style="max-width:100%"> 
        {% for post in site.posts %}
        {% if post.categories != "project" %}

            <div class="blog-grid-item">
                <a style="text-decoration: none; color: black; " href="{{ post.url }}">
                <div class="captions">
                    <ul>
                    <li>
                   <a style="text-decoration: none; color: black;   " href="{{post.url}} ">{{ post.title }}</a>
                   <br/>
                   <p style="font-size: 0.75em;"> {{ site.time | date_to_long_string }}</p>  
                   </li>
                   </ul>
                    
                    
                </div>
            </div>

       {% endif %}
        {% endfor %}
    </div>
    </div>

</div>
</body> 
{% include footer.html %}
</html>