<!Doctype html> 
<html> 
<head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/style.css"/> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width:device-width, initial scale=1.0" />
    <meta property="og:title" content="DinhBao's (DB's) personal website" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Welcome to my website!. I am an undergraduate maths student at the university of Waterloo. You will find more information about my experiences and projects here. " />
    <meta property="og:description" content="Welcome to my website!. I am an undergraduate maths student at the university of Waterloo. You will find more information about my experiences and projects here." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>function Hamburger(x) {
        x.classList.toggle("change");
      } </script>
</head>
<body> 
    <div class="contactbar">
        <div id="github"><a href="https://github.com/Dinhbaon/Dinhbaon.github.io" target="_blank"><p>Github</p><img src="assets\images\github logo.png" alt="github logo"></a></div>
        <div id="linkedin"><a href="https://www.linkedin.com/in/nguyendinhbao/" target="_blank"><p>Linkedin</p><img src="assets\images\linkedin logo.png" alt="linkedin logo"></a></div>
        <div id="email"><a href="https://github.com/Dinhbaon/Dinhbaon.github.io" target="_blank"><p >Email</p><img style="filter: invert(92%) sepia(49%) saturate(2%) hue-rotate(9deg) brightness(105%) contrast(100%);"src="assets\images\email.png" alt="email logo"></a></div>
        
    </div>
    <div class="sidebar"> 
        <ul class="sidebarlist">
        <li style="list-style: none; color: white; padding:4vw 0; text-decoration: none;  ">Resume</li>
        <a href="blog.html"><li style="list-style: none; color: white; padding:4vw 0; text-decoration: none;  ">Blog</li></a>
        <!-- <a href="project.html"><li style="list-style: none; color: white; padding:4vw 0; text-decoration: none;  ">Projects</li></a> -->
        <a  href="index.html"><li style="list-style: none; color: white; padding:4vw 0; text-decoration: none;  ">Home</li></a>
        </ul>
    </div>
    <div class="myBlogPost"> 
        <div class="hamburger-icon" onclick= Hamburger(body)>
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <ul class="nav-bar">
   
            <li style="float:left"><a href="index.html">DB's Blog</a></li>
            <li><a>Resume</a></li>
            <li><a href="/blog.html">Blog</a></li>
            <!-- <li><a href="/project.html">Projects</a></li> -->
            <li><a href="/index.html">Home</a></li>

        </ul>
        <div id="post-header">
            
            <h1>{{page.title}}</h1>
            <p style="font-size: 1rem;"> {{ post.date | date_to_long_string }}</p>   
        </div>
            <div style="width:95vw; margin: auto; height: 1px; border: solid 1px"> </div>
        <div id="post-content">{{content}}</div>
    </div>
</body>
{% include footer.html %}
</html> 
<script src= "https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id=”MathJax-script” async src= "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>